---
layout: default
---

<!-- banner -->
{% if site.data.homepage.banner.enable %}
<section class="banner">
  <!-- <img src="{{ site.data.homepage.banner.image | relative_url }}" class="img-fluid illustration" alt=""> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0 text-center">
        <h1>{{ site.data.homepage.banner.title }}</h1>
      </div>
      <div class="col-lg-6 illustration">
        <img src="{{ site.data.homepage.banner.image | relative_url }}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ site.data.homepage.banner.image | relative_url }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- /banner -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="mx-auto px-0">
        <div>
          {% for post in paginator.posts %}
          {% include post.html %}
          {% endfor %}
          <!-- pagination -->
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->
