// Color Variables
$primary-color: #663399;
$secondary-color: #9AC4F8;
$text-color: #666666;
$text-color-dark: #663399;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;
$bg-image: url('/assets/images/background_objects.svg');

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';